﻿body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
}

img {
    width: 276px;
    height: 12px;
}

div {
    margin: 5px;
}

.ziptext {
    width: 70px;
}

.addresstext {
    width: 320px;
}
